.header {
    font-size: 20;
    font-weight: bold;
}

.information {
    padding: 20px;
    background-color: #F0FFF0
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
}

table[class~=form] {
    min-width: 600px;
}

.form {
    margin-bottom: 5px;
    font-size: 13px;
}

.form tr td:first-child {
    display: inline-block;
    min-width: 150px;
    padding: 3px;
    text-align: right;
}

.form tr td:first-child::after {
    content: ' : '
}

.form tr td:last-child {
    min-width: 300px;
    padding: 3px;
    text-align: left;
}

.form input[type=text] {
    width: 150px;
}

.form input[type=checkbox] {
    float: left;
}

.form input[type=checkbox] + input[type=text] {
    width: 125px;
}

.form input[type=checkbox] + ol {
    display: inline-block;
}

.waiting {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #99999999;
    z-index: 10;
    display: none;
}

.buttons {
    text-align: left;
}

.button {
    display: inline-block;
    width: 80px;
    padding: 10;
    text-align: center;
    color: white;
    font-size: 15px;
    text-decoration: none;
    background-color: #999;
    margin-right: 10px;
}

.button:hover {
    opacity: 0.7;
}

.form-image {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 0.2;
}

.title-image-container {
    position: relative;
    min-height: 110px;
}

.title-image {
    position: absolute;
    width: 80px;
    top: 30px;
    right: 0;
    z-index: -1;
    opacity: 0.8;
}

.save {
    background-color: #449d44;
}

.clear {
    background-color: #033c73;
}

.cancel {
    background-color: #d9534f;
}