.header {
    font-size: 20;
    font-weight: bold;
}

.information {
    padding: 15px;
    background-color: #F0FFF0
}

.button {
    display: inline-block;
    width: 80px;
    padding: 10;
    text-align: center;
    color: white;
    font-size: 15px;
    text-decoration: none;
    background-color: #999;
    margin-right: 10px;
}

.button:hover {
    opacity: 0.7;
}

.waiting {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #99999999;
    z-index: 10;
    display: none;
}